<footer class="px-7 py-5 bg-slate-800">
    <div class="max-w-2xl mx-auto text-center text-white flex flex-col gap-6">
        <div>
            <h4 class="text-2xl font-semibold mb-3">DjangoCRM</h4>
            <p class="text-gray-300">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt
                animi cupiditate sed ab nam ex totam praesentium enim dolores in
                distinctio deleniti.
            </p>
        </div>

        <p>
            &copy; Created by
            <a href="https://github.com/sam4web/" class="underline">Sam4Web</a>.
        </p>
    </div>
</footer>